body {
  background: dodgerblue linear-gradient(45deg, aqua, dodgerblue, deeppink) fixed;
	color: white;
  font: normal 32px system-ui, sans-serif;
}
.onehead{
	text-align: center;
	color: White;
	font-family: Arial, Roboto, sans-serif;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color:white;
  font-family: Arial, Roboto, sans-serif;
}

input[type=text],select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-color:#f5e942;
  border: 3px solid #555;
}

input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-color:#f5e942;
  border: 3px solid #555;
}
.container {
  border-radius: 5px;
  padding: 20px;
margin-left:600px;
margin-right:100px;
background-color:black;

}
#phone, .btn {
  width: 215%;
  padding: 12px 50px;
  margin: 8px 0;
  box-sizing: border-box;
  border-color:#f5e942;
  border: 3px solid #555;
}

.btn:focus, .btn:hover {
  background-color: #3276B1;
  border-color: black;
}

.btn:active {
  box-shadow: inset 0 2px 4px rgba(0,0,0,.125);
}
}
.required-field::after {
  content: "*";
  color: red;
  margin-left:2px
}

.button {
 
	background-color: #FF00FF; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
	 margin-left:100px;
	 margin-right:100px;
}
textarea {
 font-family: Arial, Roboto, sans-serif;
  border: 3px solid #555; 
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
 
}

.right {
  right: 0;
  
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}
font{
	font-family: Arial, Roboto, sans-serif;
	 font-size: 14px;
}